// Copyright 2018 Stephen Tafoya

// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at

//     http://www.apache.org/licenses/LICENSE-2.0

// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

/* Eeeky things */
.magnifier-zoom-region {
    border: 2px solid #E95420;
}

.magnifier-zoom-region.full-screen {
    border-width: 0;
}

/* On-screen Keyboard */
.word-suggestions {
    font-size: 14pt;
    spacing: 12px;
    min-height: 20pt;
}

#keyboard {
    background-color: rgba(29, 29, 29, 0.7);
}

.key-container {
    padding: 4px;
    spacing: 4px;
}

.keyboard-key {
    background-color: #393f3f;
    min-height: 2em;
    min-width: 2em;
    font-size: 16pt;
    border-radius: 3px;
    border: 1px solid #464d4d;
    color: #e5e5e5;
}

.keyboard-key:focus {
    transition-duration: 200ms;
    box-shadow: inset 0px 0px 0px 1px #E95420;
}

.keyboard-key:hover,
.keyboard-key:checked {
    transition-duration: 200ms;
    background-color: #373737;
}

.keyboard-key:active {
    transition-duration: 200ms;
    box-shadow: inset 0 1px 3px -1px rgba(0, 0, 0, 0.5);
}

.keyboard-key:grayed {
    background-color: #1d1d1d;
    color: #F7F7F7;
    border-color: rgba(255, 255, 255, 0.13);
}

.keyboard-key.default-key {
    border-color: #2d3232;
    background-color: #1d2020;
    background-size: 20px;
}

.keyboard-key.enter-key {
    border-color: #005684;
    background-color: #006098;
    background-image: url("resource:///org/gnome/shell/theme/key-enter.svg");
}

.keyboard-key.shift-key-lowercase {
    background-image: url("resource:///org/gnome/shell/theme/key-shift.svg");
}

.keyboard-key.shift-key-uppercase {
    background-image: url("resource:///org/gnome/shell/theme/key-shift-uppercase.svg");
}

.keyboard-key.shift-key-uppercase:latched {
    background-image: url("resource:///org/gnome/shell/theme/key-shift-latched-uppercase.svg");
}

.keyboard-key.hide-key {
    background-image: url("resource:///org/gnome/shell/theme/key-hide.svg");
}

.keyboard-key.layout-key {
    background-image: url("resource:///org/gnome/shell/theme/key-layout.svg");
}

.keyboard-subkeys {
    color: white;
    -arrow-border-radius: 10px;
    -arrow-background-color: rgba(29, 29, 29, 0.7);
    -arrow-border-width: 2px;
    -arrow-border-color: rgba(255, 255, 255, 0.13);
    -arrow-base: 20px;
    -arrow-rise: 10px;
    -boxpointer-gap: 5px;
}

.candidate-popup-content {
    padding: 0.5em;
    spacing: 0.3em;
}

.candidate-index {
    padding: 0 0.5em 0 0;
    color: #c4c4c4;
}

.candidate-box {
    padding: 0.3em 0.5em 0.3em 0.5em;
    border-radius: 4px;
}

.candidate-box:selected,
.candidate-box:hover {
    background-color: #E95420;
    color: #ffffff;
}

.candidate-page-button-box {
    height: 2em;
}

.vertical .candidate-page-button-box {
    padding-top: 0.5em;
}

.horizontal .candidate-page-button-box {
    padding-left: 0.5em;
}

.candidate-page-button {
    padding: 4px;
}

.candidate-page-button-previous {
    border-radius: 4px 0px 0px 4px;
    border-right-width: 0;
}

.candidate-page-button-next {
    border-radius: 0px 4px 4px 0px;
}

.candidate-page-button-icon {
    icon-size: 1em;
}