// Copyright 2018 Stephen Tafoya

// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at

//     http://www.apache.org/licenses/LICENSE-2.0

// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

/* Modal Dialogs */
.headline {
    font-size: 110%;
}

.lightbox {
    background-color: black;
}

.flashspot {
    background-color: white;
}

.modal-dialog {
    border-radius: $corner;
    background-color: rgba(255, 33, 41, 0.88);
}

.modal-dialog .modal-dialog-content-box {
    padding: 24px;
}

.modal-dialog .run-dialog-entry {
    width: 20em;
    margin-bottom: 6px;
}

.modal-dialog .run-dialog-entry:focus {
    border-color: #E95420;
}

.modal-dialog .run-dialog-error-box {
    padding-top: 16px;
    spacing: 6px;
}

.modal-dialog .run-dialog-button-box {
    padding-top: 1em;
}

.modal-dialog .run-dialog-label {
    font-size: 12pt;
    font-weight: normal;
    color: #2d2d2d;
    padding-bottom: .4em;
}

.mount-dialog-subject,
.end-session-dialog-subject {
    font-size: 14pt;
}

/* Message Dialog */
.message-dialog-main-layout {
    padding: 12px 20px 0;
    spacing: 12px;
}

.message-dialog-content {
    max-width: 28em;
    spacing: 20px;
}

.message-dialog-icon {
    min-width: 48px;
    icon-size: 48px;
    color: #000;
}

.message-dialog-title {
    font-weight: bold;
}

.message-dialog-subtitle {
    color: #2d2d2d;
    font-weight: normal;
}

/* End Session Dialog */
.end-session-dialog {
    spacing: 42px;
    border: 1px solid rgba(255, 255, 255, 0.13);
}

.end-session-dialog-list {
    padding-top: 20px;
}

.end-session-dialog-layout {
    padding-left: 17px;
}

.end-session-dialog-layout:rtl {
    padding-right: 17px;
}

.end-session-dialog-description {
    width: 28em;
    padding-bottom: 10px;
}

.end-session-dialog-description:rtl {
    text-align: right;
}

.end-session-dialog-warning {
    width: 28em;
    color: #F89B0F;
    padding-top: 6px;
}

.end-session-dialog-warning:rtl {
    text-align: right;
}

.end-session-dialog-logout-icon {
    border-radius: $corner;
    width: 48px;
    height: 48px;
    background-size: contain;
    color: #f00;
}

.end-session-dialog-shutdown-icon {
    color: #3D3D3D;
    width: 48px;
    height: 48px;
}

.end-session-dialog-inhibitor-layout {
    spacing: 16px;
    max-height: 200px;
    padding-right: 65px;
    padding-left: 65px;
}

.end-session-dialog-session-list,
.end-session-dialog-app-list {
    spacing: 1em;
}

.end-session-dialog-list-header {
    font-weight: bold;
}

.end-session-dialog-list-header:rtl {
    text-align: right;
}

.end-session-dialog-app-list-item,
.end-session-dialog-session-list-item {
    spacing: 1em;
}

.end-session-dialog-app-list-item-name,
.end-session-dialog-session-list-item-name {
    font-weight: bold;
}

.end-session-dialog-app-list-item-description {
    color: #3D3D3D;
    font-size: 10pt;
}

/* ShellMountOperation Dialogs */
.shell-mount-operation-icon {
    icon-size: 48px;
}

.mount-dialog {
    spacing: 24px;
}

.mount-dialog .message-dialog-title {
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
    max-width: 34em;
}

.mount-dialog .message-dialog-title:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.mount-dialog .message-dialog-body {
    padding-left: 17px;
    width: 28em;
}

.mount-dialog .message-dialog-body:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.mount-dialog-app-list {
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}

.mount-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.mount-dialog-app-list-item {
    color: #c4c4c4;
}

.mount-dialog-app-list-item:hover {
    color: #F7F7F7;
}

.mount-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.mount-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.mount-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.mount-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.mount-dialog-app-list-item-name {
    font-size: 10pt;
}

/* Password or Authentication Dialog */
.prompt-dialog {
    width: 34em;
}

.prompt-dialog .message-dialog-main-layout {
    spacing: 24px;
    padding: 10px;
}

.prompt-dialog .message-dialog-content {
    spacing: 16px;
}

.prompt-dialog .message-dialog-title {
    color: #2d2d2d;
}

.prompt-dialog-description:rtl {
    text-align: right;
}

.prompt-dialog-password-box {
    spacing: 1em;
    padding-bottom: 1em;
}

.prompt-dialog-error-label {
    font-size: 10pt;
    color: #ED3146;
    padding-bottom: 8px;
}

.prompt-dialog-info-label {
    font-size: 10pt;
    padding-bottom: 8px;
}

.hidden {
    color: rgba(0, 0, 0, 0);
}

.prompt-dialog-null-label {
    font-size: 10pt;
    padding-bottom: 8px;
}

/* Polkit Dialog */
.polkit-dialog-user-layout {
    padding-left: 10px;
    spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
    padding-left: 0px;
    padding-right: 10px;
}

.polkit-dialog-user-root-label {
    color: #F89B0F;
}

.polkit-dialog-user-icon {
    border-radius: $corner;
    background-size: contain;
    width: 48px;
    height: 48px;
}

/* Audio selection dialog */
.audio-device-selection-dialog {
    spacing: 30px;
}

.audio-selection-content {
    spacing: 20px;
    padding: 24px;
}

.audio-selection-title {
    font-weight: bold;
    text-align: center;
}

.audio-selection-box {
    spacing: 20px;
}

.audio-selection-device {
    border-radius: $corner;
}

.audio-selection-device:hover,
.audio-selection-device:focus:hover {
    background-color: rgba(61, 61, 61, 0.15);
}

.audio-selection-device:active,
.audio-selection-device:focus:active {
    background-color: rgba(61, 61, 61, 0.2);
}

.audio-selection-device-box {
    padding: 20px;
    spacing: 20px;
}

.audio-selection-device-icon {
    icon-size: 64px;
}

/* Access Dialog */
.access-dialog {
    spacing: 30px;
}

/* Geolocation Dialog */
.geolocation-dialog {
    spacing: 30px;
}

/* Extension Dialog */
.extension-dialog .message-dialog-main-layout {
    spacing: 24px;
    padding: 10px;
}

.extension-dialog .message-dialog-title {
    color: #3D3D3D;
}

/* Inhibit-Shortcuts Dialog */
.inhibit-shortcuts-dialog {
    spacing: 30px;
}

/* Network Agent Dialog */
.network-dialog-secret-table {
    spacing-rows: 15px;
    spacing-columns: 1em;
}

.keyring-dialog-control-table {
    spacing-rows: 15px;
    spacing-columns: 1em;
}

/* NETWORK DIALOGS */
.nm-dialog {
    max-height: 34em;
    min-height: 31em;
    min-width: 32em;
}

.nm-dialog-content {
    spacing: 20px;
    padding: 24px;
}

.nm-dialog-header-hbox {
    spacing: 10px;
}

.nm-dialog-airplane-box {
    spacing: 12px;
}

.nm-dialog-airplane-headline {
    font-weight: bold;
    text-align: center;
}

.nm-dialog-airplane-text {
    color: #3D3D3D;
}

.nm-dialog-header-icon {
    icon-size: 32px;
}

.nm-dialog-scroll-view {
    border: 1px solid #cccccc;
}

.nm-dialog-header {
    font-weight: bold;
}

.nm-dialog-item {
    font-size: 110%;
    border-bottom: 1px solid #cccccc;
    padding: 12px;
    spacing: 20px;
}

.nm-dialog-item:selected {
    background-color: rgba(61, 61, 61, 0.15);
    color: #3D3D3D;
}

.nm-dialog-icons {
    spacing: .5em;
}

.nm-dialog-icon {
    icon-size: 16px;
}

.no-networks-label {
    color: #2d2d2d;
}

.no-networks-box {
    spacing: 12px;
}