// Copyright 2018 Stephen Tafoya

// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at

//     http://www.apache.org/licenses/LICENSE-2.0

// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

/* Auth Dialogs & Screen Shield */
.framed-user-icon {
    background-size: contain;
    border: 1px solid #cccccc;
    color: #F7F7F7;
    border-radius: 4px;
}

.framed-user-icon:hover {
    border-color: white;
    color: white;
}

.login-dialog-banner-view {
    padding-top: 24px;
    max-width: 23em;
}

.login-dialog {
    border: none;
    background-color: transparent;
}

.login-dialog .modal-dialog-button-box {
    spacing: 3px;
}

.login-dialog .modal-dialog-button {
    padding: 4px 18px;
    transition-duration: 200ms;
    background-color: #e1e1e1;
    border-color: #d4d4d4;
    color: #3D3D3D;
    icon-shadow: none;
    text-shadow: none;
    box-shadow: none;
}

.login-dialog .modal-dialog-button:active {
    transition-duration: 200ms;
    box-shadow: inset 0 1px 3px -1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 0px 1px #E95420;
}

.login-dialog .modal-dialog-button:focus {
    transition-duration: 200ms;
    box-shadow: inset 0px 0px 0px 1px #E95420;
}

.login-dialog .modal-dialog-button:hover {
    transition-duration: 200ms;
    background-color: #fafafa;
}

.login-dialog .modal-dialog-button:focus:hover {
    transition-duration: 200ms;
    background-color: #fafafa;
}

.login-dialog .modal-dialog-button:insensitive {
    border-color: #aeaeae;
    background-color: #aeaeae;
    box-shadow: none;
    color: #4a4a4a;
}

.login-dialog .modal-dialog-button:default {
    padding-bottom: 5px;
    padding-top: 5px;
    transition-duration: 200ms;
    background-color: #3EB34F;
    border-color: #37a047;
    color: #F7F7F7;
    icon-shadow: none;
    text-shadow: none;
    box-shadow: none;
}

.login-dialog .modal-dialog-button:default:hover {
    transition-duration: 200ms;
    background-color: #5dc76c;
}

.login-dialog .modal-dialog-button:default:focus {
    transition-duration: 200ms;
    box-shadow: inset 0px 0px 0px 1px white;
}

.login-dialog .modal-dialog-button:default:active {
    transition-duration: 200ms;
    box-shadow: inset 0 1px 3px -1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 0px 1px white;
}

.login-dialog .modal-dialog-button:default:focus:hover {
    transition-duration: 200ms;
    background-color: #5dc76c;
}

.login-dialog .modal-dialog-button:default:insensitive {
    transition-duration: 200ms;
    color: #8e8e8e;
    border-color: #37a047;
    background-color: rgba(78, 172, 92, 0.7);
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
    background-color: #24672e;
    border-color: #24672e;
    color: rgba(255, 255, 255, 0.5);
}

.login-dialog-logo-bin {
    padding: 24px 0px;
}

.login-dialog-banner {
    color: rgba(61, 61, 61, 0.85);
}

.login-dialog-button-box {
    spacing: 5px;
}

.login-dialog-message-warning {
    color: #F89B0F;
}

.login-dialog-message-hint {
    padding-top: 0;
    padding-bottom: 20px;
}

.login-dialog-user-selection-box {
    padding: 100px 0px;
}

.login-dialog-not-listed-label {
    padding-left: 2px;
}

.login-dialog-not-listed-button:focus .login-dialog-not-listed-label,
.login-dialog-not-listed-button:hover .login-dialog-not-listed-label {
    color: #F7F7F7;
}

.login-dialog-not-listed-label {
    font-size: 90%;
    font-weight: normal;
    color: #F7F7F7;
    padding-top: 1em;
}

.login-dialog-user-list-view {
    -st-vfade-offset: 1em;
}

.login-dialog-user-list {
    spacing: 12px;
    width: 23em;
}

.login-dialog-user-list:expanded .login-dialog-user-list-item:selected {
    background-color: #E95420;
    color: #ffffff;
}

.login-dialog-user-list:expanded .login-dialog-user-list-item:logged-in {
    border-right: 2px solid #E95420;
}

.login-dialog-user-list-item {
    border-radius: 5px;
    padding: 6px;
    color: #ababab;
}

.login-dialog-user-list-item:ltr .user-widget {
    padding-right: 1em;
}

.login-dialog-user-list-item:rtl .user-widget {
    padding-left: 1em;
}

.login-dialog-user-list-item .login-dialog-timed-login-indicator {
    height: 2px;
    margin-top: 6px;
    background-color: #F7F7F7;
}

.login-dialog-user-list-item:focus .login-dialog-timed-login-indicator {
    background-color: #F7F7F7;
}

.login-dialog-username,
.user-widget-label {
    color: #F7F7F7;
    font-size: 120%;
    font-weight: normal;
    text-align: left;
    padding-left: 15px;
}

.user-widget-label:ltr {
    padding-left: 14px;
}

.user-widget-label:rtl {
    padding-right: 14px;
}

.login-dialog-prompt-layout {
    padding-top: 24px;
    padding-bottom: 12px;
    spacing: 8px;
    width: 23em;
}

.login-dialog-prompt-label {
    color: #c4c4c4;
    font-size: 110%;
    padding-top: 1em;
}

.login-dialog-session-list-button StIcon {
    icon-size: 1.25em;
}

.login-dialog-session-list-button {
    color: #919191;
}

.login-dialog-session-list-button:hover,
.login-dialog-session-list-button:focus {
    color: #F7F7F7;
}

.login-dialog-session-list-button:active {
    color: #787878;
}

.screen-shield-arrows {
    padding-bottom: 3em;
}

.screen-shield-arrows Gjs_Arrow {
    color: white;
    width: 80px;
    height: 48px;
    -arrow-thickness: 12px;
    -arrow-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.screen-shield-clock {
    color: white;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
    font-weight: bold;
    text-align: center;
    padding-bottom: 1.5em;
}

.screen-shield-clock-time {
    font-size: 72pt;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    font-feature-settings: "tnum";
}

.screen-shield-clock-date {
    font-size: 28pt;
    font-weight: normal;
}

.screen-shield-notifications-container {
    spacing: 6px;
    width: 30em;
    background-color: transparent;
    max-height: 500px;
}

.screen-shield-notifications-container .summary-notification-stack-scrollview {
    padding-top: 0;
    padding-bottom: 0;
}

.screen-shield-notifications-container .notification,
.screen-shield-notifications-container .screen-shield-notification-source {
    padding: 12px 6px;
    border: 1px solid rgba(255, 255, 255, 0.13);
    background-color: rgba(29, 29, 29, 0.4);
    color: #F7F7F7;
    border-radius: 5px;
}

.screen-shield-notifications-container .notification {
    margin-right: 15px;
}

.screen-shield-notification-label {
    font-weight: bold;
    padding: 0px 0px 0px 12px;
}

.screen-shield-notification-count-text {
    padding: 0px 0px 0px 12px;
}

#panel.lock-screen {
    background-color: transparent;
}

.screen-shield-background {
    background: black;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

#lockDialogGroup {
    background: none;
    background-color: none;
    background-gradient-direction: vertical;
    background-gradient-start: #6D2169;
    background-gradient-end: #370026;
}

#screenShieldNotifications StButton#vhandle,
#screenShieldNotifications StButton#hhandle {
    background-color: rgba(37, 37, 37, 0.3);
}

#screenShieldNotifications StButton#vhandle:hover,
#screenShieldNotifications StButton#vhandle:focus,
#screenShieldNotifications StButton#hhandle:hover,
#screenShieldNotifications StButton#hhandle:focus {
    background-color: rgba(37, 37, 37, 0.5);
}

#screenShieldNotifications StButton#vhandle:active,
#screenShieldNotifications StButton#hhandle:active {
    background-color: rgba(233, 84, 32, 0.5);
}

#LookingGlassDialog {
    background-color: rgba(0, 0, 0, 0.8);
    spacing: 4px;
    padding: 4px;
    border: 2px solid grey;
    border-radius: 4px;
}

#LookingGlassDialog>#Toolbar {
    border: 1px solid grey;
    border-radius: 4px;
}

#LookingGlassDialog .labels {
    spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    font-weight: bold;
    color: #ccc;
    transition-duration: 100ms;
    padding-left: .3em;
    padding-right: .3em;
}

#LookingGlassDialog .notebook-tab:hover {
    color: white;
    text-shadow: black 0px 2px 2px;
}

#LookingGlassDialog .notebook-tab:selected {
    border-bottom-width: 2px;
    border-color: #eb6637;
    color: white;
    text-shadow: black 0px 2px 2px;
}

#LookingGlassDialog StBoxLayout#EvalBox {
    padding: 4px;
    spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea {
    spacing: 4px;
}

.lg-dialog StEntry {
    selection-background-color: #bbbbbb;
    selected-color: #333333;
}

.lg-dialog .shell-link {
    color: #999999;
}

.lg-dialog .shell-link:hover {
    color: #dddddd;
}

.lg-completions-text {
    font-size: .9em;
    font-style: italic;
}

.lg-obj-inspector-title {
    spacing: 4px;
}

.lg-obj-inspector-button {
    border: 1px solid gray;
    padding: 4px;
    border-radius: 4px;
}

.lg-obj-inspector-button:hover {
    border: 1px solid #ffffff;
}

#lookingGlassExtensions {
    padding: 4px;
}

.lg-extensions-list {
    padding: 4px;
    spacing: 6px;
}

.lg-extension {
    border: 1px solid #6f6f6f;
    border-radius: 4px;
    padding: 4px;
}

.lg-extension-name {
    font-weight: bold;
}

.lg-extension-meta {
    spacing: 6px;
}

#LookingGlassPropertyInspector {
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid grey;
    border-radius: 4px;
    padding: 6px;
}