// Copyright 2018 Stephen Tafoya

// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at

//     http://www.apache.org/licenses/LICENSE-2.0

// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

/* NOTIFICATIONS & MESSAGE TRAY */
.url-highlighter {
    link-color: #19B6EE;
}

.notification-banner {
    font-size: 11pt;
    width: 34em;
    min-height: 64px;
    margin: 6px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.5);
}

.notification-banner,
.notification-banner:focus,
.notification-banner:active {
    background-color: #FFF;
}

.notification-banner .message-title,
.notification-banner:focus .message-title,
.notification-banner:active .message-title {
    color: #242424;
}

.notification-banner .message-content,
.notification-banner:focus .message-content,
.notification-banner:active .message-content {
    color: #3D3D3D;
}

.notification-banner:hover {
    background: #FFF;
}

.notification-banner .message-icon-bin>StIcon {
    color: #3D3D3D;
}

.notification-banner .notification-icon {
    padding: 5px;
}

.notification-banner .notification-content {
    padding: 5px;
    spacing: 5px;
}

.notification-banner .secondary-icon {
    icon-size: 1.14286em;
}

.notification-banner .notification-actions {
    padding-top: 0;
    border-top: 1px solid #e6e6e6;
    spacing: 0px;
}

.notification-banner .notification-button {
    padding: 0 16px;
    background-color: transparent;
    min-height: 35px;
    font-weight: 500;
    border: none;
}

.notification-banner .notification-button:focus {
    box-shadow: none;
}

.summary-source-counter {
    font-size: 10pt;
    font-weight: bold;
    height: 1.6em;
    width: 1.6em;
    -shell-counter-overlap-x: 3px;
    -shell-counter-overlap-y: 3px;
    background-color: #E95420;
    color: #ffffff;
    border: 2px solid #F7F7F7;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 0.9em;
}

.secondary-icon {
    icon-size: 1.09em;
}

.chat-body {
    spacing: 5px;
}

.chat-response {
    margin: 5px;
}

.chat-log-message {
    color: #c4c4c4;
}

.chat-new-group {
    padding-top: 1em;
}

.chat-received {
    padding-left: 4px;
}

.chat-received:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.chat-sent {
    padding-left: 18pt;
    color: #c4c4c4;
}

.chat-sent:rtl {
    padding-left: 0;
    padding-right: 18pt;
}

.chat-meta-message {
    padding-left: 4px;
    font-size: 9pt;
    font-weight: bold;
    color: #ababab;
}

.chat-meta-message:rtl {
    padding-left: 0;
    padding-right: 4px;
}

.hotplug-transient-box {
    spacing: 6px;
    padding: 2px 72px 2px 12px;
}

.hotplug-notification-item {
    border: none;
    box-shadow: none;
    padding: 2px 10px;
}

.hotplug-notification-item:active {
    border: none;
    box-shadow: none;
}

.hotplug-notification-item-icon {
    icon-size: 24px;
    padding: 2px 5px;
}

.hotplug-resident-box {
    spacing: 8px;
}

.hotplug-resident-mount {
    spacing: 8px;
    border-radius: 4px;
}

.hotplug-resident-mount:hover {
    background-color: transparent;
}

.hotplug-resident-mount-label {
    color: inherit;
    padding-left: 6px;
}

.hotplug-resident-mount-icon {
    icon-size: 24px;
    padding-left: 6px;
}

.hotplug-resident-eject-icon {
    icon-size: 16px;
}

.hotplug-resident-eject-button {
    padding: 7px;
    border-radius: 5px;
    color: #3D3D3D;
}