// Copyright 2018 Stephen Tafoya

// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at

//     http://www.apache.org/licenses/LICENSE-2.0

// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

/* OVERVIEW */
#overview {
    spacing: 24px;
}

.overview-controls {
    padding-bottom: 32px;
}

.window-picker {
    -horizontal-spacing: 16px;
    -vertical-spacing: 16px;
    padding: 0 16px 16px;
}

.window-picker.external-monitor {
    padding: 16px;
}

.window-clone-border {
    border: 5px solid rgba(255, 255, 255, 0.35);
    border-radius: 6px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.35);
}

.window-caption {
    spacing: 25px;
    color: #F7F7F7;
    background-color: #1d1d1d;
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 6px;
    padding: 4px 12px;
}

.search-entry {
    width: 320px;
    border-radius: 4px;
    border-color: rgba(255, 255, 255, 0.13);
    color: #F7F7F7;
    background-color: rgba(29, 29, 29, 0.4);
}

.search-entry,
.search-entry:focus {
    padding: 7px 9px;
}

.search-entry:focus {
    border-width: 1px;
    border-color: #E95420;
}

.search-entry .search-entry-icon {
    icon-size: 1em;
    padding: 0 4px;
    color: rgba(247, 247, 247, 0.7);
}

.search-entry:hover .search-entry-icon,
.search-entry:focus .search-entry-icon {
    color: #F7F7F7;
}

#searchResultsBin {
    max-width: 1000px;
}

#searchResultsContent {
    padding-left: 20px;
    padding-right: 20px;
    spacing: 16px;
}

.search-section {
    spacing: 16px;
}

.search-section-content {
    spacing: 32px;
}

.list-search-results {
    spacing: 3px;
}

.search-section-separator {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
}

.list-search-result-content {
    spacing: 30px;
}

.list-search-result-title {
    color: #F7F7F7;
    spacing: 12px;
}

.list-search-result-description {
    color: #c4c4c4;
}

.list-search-provider-details {
    width: 150px;
    color: #dedede;
    margin-top: 0.24em;
}

.list-search-provider-content {
    spacing: 20px;
}

.search-provider-icon {
    padding: 15px;
}

/* DASHBOARD */
#dash {
    font-size: 9pt;
    color: #F7F7F7;
    background-color: #1d1d1d;
    padding: 4px 0;
    border: 1px solid black;
    border-left: 0px;
    border-radius: 0px 9px 9px 0px;
}

#dash:rtl {
    border-radius: 9px 0 0 9px;
}

#dash .placeholder {
    background-image: url("resource:///org/gnome/shell/theme/dash-placeholder.svg");
    background-size: contain;
    height: 24px;
}

#dash .empty-dash-drop-target {
    width: 24px;
    height: 24px;
}

.dash-item-container>StWidget {
    padding: 4px 8px;
}

.dash-label {
    border-radius: 6px;
    padding: 6px 12px;
    color: #F7F7F7;
    background-color: #1d1d1d;
    border: 1px solid rgba(255, 255, 255, 0.13);
    text-align: center;
    -x-offset: 8px;
}

/* App Vault/Grid */
.icon-grid {
    spacing: 30px;
    -shell-grid-horizontal-item-size: 136px;
    -shell-grid-vertical-item-size: 136px;
}

.icon-grid .overview-icon {
    icon-size: 96px;
}

.system-action-icon {
    background-color: black;
    color: black;
    border-radius: 99px;
    icon-size: 48px;
}

.app-view-controls {
    padding-bottom: 32px;
}

.app-view-control {
    padding: 4px 32px;
    margin: 0 4px;
    color: #8e8e8e;
}

.app-view-control,
.app-view-control:hover,
.app-view-control:checked {
    transition-duration: 200ms;
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
}

.app-view-control:hover {
    box-shadow: inset 0 -2px #8e8e8e;
    color: #F7F7F7;
}

.app-view-control:checked {
    color: #F7F7F7;
    font-weight: bold;
    box-shadow: inset 0 -2px #E95420;
}

.app-view-control:first-child {
    border-right-width: 0;
    border-radius: 0;
}

.app-view-control:last-child {
    border-radius: 0;
}

.search-provider-icon:active,
.search-provider-icon:checked,
.list-search-result:active,
.list-search-result:checked {
    background-color: rgba(4, 4, 4, 0.9);
}

.search-provider-icon:focus,
.search-provider-icon:selected,
.search-provider-icon:hover,
.list-search-result:focus,
.list-search-result:selected,
.list-search-result:hover {
    background-color: rgba(247, 247, 247, 0.1);
    transition-duration: 200ms;
}

.app-well-app:active .overview-icon,
.app-well-app:checked .overview-icon,
.app-well-app.app-folder:active .overview-icon,
.app-well-app.app-folder:checked .overview-icon,
.show-apps:active .overview-icon,
.show-apps:checked .overview-icon,
.grid-search-result:active .overview-icon,
.grid-search-result:checked .overview-icon {
    background-color: rgba(222, 222, 222, 0.3) !important;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.13);
}

.app-well-app:hover .overview-icon,
.app-well-app:focus .overview-icon,
.app-well-app:selected .overview-icon,
.app-well-app.app-folder:hover .overview-icon,
.app-well-app.app-folder:focus .overview-icon,
.app-well-app.app-folder:selected .overview-icon,
.show-apps:hover .overview-icon,
.show-apps:focus .overview-icon,
.show-apps:selected .overview-icon,
.grid-search-result:hover .overview-icon,
.grid-search-result:focus .overview-icon,
.grid-search-result:selected .overview-icon {
    background-color: rgba(247, 247, 247, 0.3);
    transition-duration: 0ms;
    border-image: none;
    background-image: none;
}

.app-well-app-running-dot {
    width: 6px;
    height: 6px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background-color: #E95420;
    margin-bottom: 1px;
}

.search-provider-icon,
.list-search-result,
.app-well-app .overview-icon,
.app-well-app.app-folder .overview-icon,
.show-apps .overview-icon,
.grid-search-result .overview-icon {
    color: #F7F7F7;
    border-radius: 4px;
    padding: 6px;
    border: 1px solid transparent;
    transition-duration: 100ms;
    text-align: center;
}

.app-well-app.app-folder>.overview-icon {
    background-color: rgba(183, 183, 183, 0.5);
    box-shadow: inset 0 0 0 1px rgba(183, 183, 183, 0.4);
}

.show-apps:checked .show-apps-icon,
.show-apps:focus .show-apps-icon {
    color: white;
    transition-duration: 100ms;
}

.app-folder-popup {
    -arrow-border-radius: 6px;
    -arrow-background-color: rgba(247, 247, 247, 0.3);
    -arrow-border-width: 1px;
    -arrow-border-color: rgba(247, 247, 247, 0.5);
    -arrow-base: 24px;
    -arrow-rise: 11px;
}

.app-folder-popup-bin {
    padding: 5px;
}

.app-folder-icon {
    padding: 5px;
    spacing-rows: 5px;
    spacing-columns: 5px;
}

.page-indicator {
    padding: 15px 20px;
}

.page-indicator .page-indicator-icon {
    width: 18px;
    height: 18px;
    background-image: url(resource:///org/gnome/shell/theme/page-indicator-inactive.svg);
}

.page-indicator:hover .page-indicator-icon {
    background-image: url(resource:///org/gnome/shell/theme/page-indicator-hover.svg);
}

.page-indicator:active .page-indicator-icon {
    background-image: url(resource:///org/gnome/shell/theme/page-indicator-active.svg);
}

.page-indicator:checked .page-indicator-icon,
.page-indicator:checked:active {
    background-image: url(resource:///org/gnome/shell/theme/page-indicator-checked.svg);
}

.app-well-app>.overview-icon.overview-icon-with-label,
.grid-search-result .overview-icon.overview-icon-with-label {
    padding: 10px 8px 5px 8px;
    spacing: 4px;
}

.workspace-thumbnails {
    visible-width: 32px;
    spacing: 11px;
    padding: 8px;
    border-radius: 6px 0 0 6px;
}

.workspace-thumbnails:rtl {
    border-radius: 0 6px 6px 0;
}

.workspace-thumbnails .placeholder {
    background-image: url("resource:///org/gnome/shell/theme/dash-placeholder.svg");
    background-size: contain;
    height: 24px;
}

.workspace-thumbnail-indicator {
    border: 0px solid #E95420;
    border-left-width: 2px;
    padding: 4px;
}

.search-display>StBoxLayout,
.all-apps,
.frequent-apps>StBoxLayout {
    padding: 0px 88px 10px 88px;
}

.workspace-thumbnails {
    color: #F7F7F7;
    background-color: rgba(29, 29, 29, 0.4);
    border: none;
}

.search-statustext,
.no-frequent-applications-label {
    font-size: 2em;
    font-weight: bold;
    color: #F7F7F7;
}

.modal-dialog StEntry,
.prompt-dialog StEntry,
.audio-device-selection-dialog StEntry,
.access-dialog StEntry,
.geolocation-dialog StEntry,
.extension-dialog StEntry,
.inhibit-shortcuts-dialog StEntry,
.nm-dialog StEntry,
.notification-banner StEntry,
.login-dialog StEntry {
    selection-background-color: #bfebfa;
    selected-color: #3D3D3D;
    color: #3D3D3D;
    background-color: #FFF;
    border-color: #cccccc;
    box-shadow: none;
}

.modal-dialog StEntry:focus,
.prompt-dialog StEntry:focus,
.audio-device-selection-dialog StEntry:focus,
.access-dialog StEntry:focus,
.geolocation-dialog StEntry:focus,
.extension-dialog StEntry:focus,
.inhibit-shortcuts-dialog StEntry:focus,
.nm-dialog StEntry:focus,
.notification-banner StEntry:focus,
.login-dialog StEntry:focus {
    color: #3D3D3D;
    border-color: #E95420;
    box-shadow: none;
}

.modal-dialog StEntry:insensitive,
.prompt-dialog StEntry:insensitive,
.audio-device-selection-dialog StEntry:insensitive,
.access-dialog StEntry:insensitive,
.geolocation-dialog StEntry:insensitive,
.extension-dialog StEntry:insensitive,
.inhibit-shortcuts-dialog StEntry:insensitive,
.nm-dialog StEntry:insensitive,
.notification-banner StEntry:insensitive,
.login-dialog StEntry:insensitive {
    color: #8e8e8e;
    background-color: rgba(232, 232, 232, 0.7);
    border-color: #202020;
    box-shadow: none;
    border-color: rgba(135, 135, 135, 0.5);
}