// Copyright 2018 Stephen Tafoya

// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at

//     http://www.apache.org/licenses/LICENSE-2.0

// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

/* TOP BAR */
#panel {
    background-color: rgba(29, 29, 29, 1);
    opacity: 0.4;
    /* transition from solid to transparent */
    transition-duration: 500ms;
    font-weight: 450;
    height: 2em;
    font-feature-settings: "tnum";
}

#panel.unlock-screen,
#panel.login-screen,
#panel.lock-screen {
    background-color: transparent;
}

#panel #panelLeft,
#panel #panelCenter {
    spacing: 4px;
}

#panel .panel-corner {
    -panel-corner-radius: 0;
    -panel-corner-background-color: rgba(0, 0, 0, 0.35);
    -panel-corner-border-width: 2px;
    -panel-corner-border-color: transparent;
}

#panel .panel-corner:active,
#panel .panel-corner:overview,
#panel .panel-corner:focus {
    -panel-corner-border-color: #eb6637;
}

#panel .panel-corner.lock-screen,
#panel .panel-corner.login-screen,
#panel .panel-corner.unlock-screen {
    -panel-corner-radius: 0;
    -panel-corner-background-color: transparent;
    -panel-corner-border-color: transparent;
}

#panel .panel-button {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    font-weight: 450;
    color: #eaeaea;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
    transition-duration: 100ms;
}

#panel .panel-button .app-menu-icon {
    margin-left: 4px;
    margin-right: 4px;
}

#panel .panel-button .system-status-icon,
#panel .panel-button .app-menu-icon>StIcon,
#panel .panel-button .popup-menu-arrow {
    icon-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
}

#panel .panel-button:hover {
    color: white;
    text-shadow: 0px 1px 4px black;
}

#panel .panel-button:hover .system-status-icon,
#panel .panel-button:hover .app-menu-icon>StIcon,
#panel .panel-button:hover .popup-menu-arrow {
    icon-shadow: 0px 1px 4px black;
}

#panel .panel-button:active,
#panel .panel-button:overview,
#panel .panel-button:focus,
#panel .panel-button:checked {
    background-color: rgba(0, 0, 0, 0.01);
    box-shadow: inset 0px -2px #E95420;
    color: black;
}

#panel .panel-button:active>.system-status-icon,
#panel .panel-button:overview>.system-status-icon,
#panel .panel-button:focus>.system-status-icon,
#panel .panel-button:checked>.system-status-icon {
    icon-shadow: 0px 1px 4px black;
}

#panel .panel-button .system-status-icon {
    icon-size: 1.09em;
    padding: 0 5px;
}

.unlock-screen #panel .panel-button,
.login-screen #panel .panel-button,
.lock-screen #panel .panel-button {
    color: black;
}

.unlock-screen #panel .panel-button:focus,
.unlock-screen #panel .panel-button:hover,
.unlock-screen #panel .panel-button:active,
.login-screen #panel .panel-button:focus,
.login-screen #panel .panel-button:hover,
.login-screen #panel .panel-button:active,
.lock-screen #panel .panel-button:focus,
.lock-screen #panel .panel-button:hover,
.lock-screen #panel .panel-button:active {
    color: black;
}

#panel .panel-status-indicators-box,
#panel .panel-status-menu-box {
    spacing: 2px;
}

#panel .power-status.panel-status-indicators-box {
    spacing: 0;
}

#panel .screencast-indicator {
    color: #F89B0F;
}

#panel .remote-access-indicator {
    color: #F89B0F;
}

#panel.solid {
    background-color: #1d1d1d;
    /* transition from transparent to solid */
    box-shadow: none;
    transition-duration: 500ms;
}

#panel.solid .panel-corner {
    -panel-corner-background-color: black;
}

#panel.solid .panel-button {
    color: #eaeaea;
    text-shadow: none;
}

#panel.solid .panel-button:hover,
#panel.solid .panel-button:active,
#panel.solid .panel-button:overview,
#panel.solid .panel-button:focus,
#panel.solid .panel-button:checked {
    color: white;
}

#panel.solid .system-status-icon,
#panel.solid .app-menu-icon>StIcon,
#panel.solid .popup-menu-arrow {
    icon-shadow: none;
}

// CALENDAR //

#calendarArea {
    padding: 0.75em 1.0em;
}

.calendar {
    margin-bottom: 1em;
}

.calendar,
.datemenu-today-button,
.datemenu-displays-box,
.message-list-sections {
    margin: 0 1.5em;
}

.datemenu-calendar-column {
    spacing: 0.5em;
}

.datemenu-displays-section {
    padding-bottom: 3em;
}

.datemenu-displays-box {
    spacing: 1em;
}

.datemenu-calendar-column {
    border: 0 solid rgba(247, 247, 247, 0.09);
}

.datemenu-calendar-column:ltr {
    border-left-width: 1px;
}

.datemenu-calendar-column:rtl {
    border-right-width: 1px;
}

.datemenu-today-button,
.world-clocks-button,
.weather-button,
.events-section-title {
    border-radius: 4px;
    padding: .4em;
}

.message-list-section-list:ltr {
    padding-left: .4em;
}

.message-list-section-list:rtl {
    padding-right: .4em;
}

.datemenu-today-button:hover,
.datemenu-today-button:focus,
.world-clocks-button:hover,
.world-clocks-button:focus,
.weather-button:hover,
.weather-button:focus,
.events-section-title:hover,
.events-section-title:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.datemenu-today-button:active,
.world-clocks-button:active,
.weather-button:active,
.events-section-title:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.25);
}

.world-clocks-button {
    font-size: 10pt;
}

.weather-button {
    color: #c4c4c4;
}

.datemenu-today-button .date-label {
    font-size: 1.5em;
    font-weight: 300;
}

.world-clocks-header,
.weather-header,
.events-section-title {
    color: #F7F7F7;
    font-weight: 450;
    font-size: 110%;
}

.world-clocks-grid {
    spacing-rows: 0.4em;
}

.weather-box {
    spacing: 0.4em;
}

.calendar-month-label {
    color: #dedede;
    font-weight: 450;
    font-size: 110%;
    padding: 8px 0;
}

.pager-button {
    transition-duration: 100ms;
    color: #F7F7F7;
    background-color: transparent;
    width: 32px;
    border-radius: 4px;
}

.pager-button:hover,
.pager-button:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.pager-button:active {
    background-color: rgba(255, 255, 255, 0.25);
}

.calendar-change-month-back {
    background-image: url("calendar-arrow-left.svg");
}

.calendar-change-month-back:rtl {
    background-image: url("calendar-arrow-right.svg");
}

.calendar-change-month-forward {
    background-image: url("calendar-arrow-right.svg");
}

.calendar-change-month-forward:rtl {
    background-image: url("calendar-arrow-left.svg");
}

.calendar-day-base {
    font-size: 80%;
    font-weight: 500;
    text-align: center;
    width: 2.4em;
    height: 2.4em;
    padding: 0.1em;
    margin: 2px;
    border-radius: 4px;
    font-feature-settings: "tnum";
}

.calendar-day-base:hover,
.calendar-day-base:focus {
    background-color: #323232;
}

.calendar-day-base:selected {
    color: white;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid #E95420;
    margin: 0;
}

.calendar-day-base:selected:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.calendar-day-base.calendar-day-heading {
    color: #919191;
    margin-top: 1em;
    font-size: 70%;
}

.calendar-day {
    border-width: 2px;
}

.calendar-day-top {
    border-top-width: 1px;
}

.calendar-day-left {
    border-left-width: 1px;
}

.calendar-nonwork-day {
    color: #8e8e8e;
}

.calendar-today {
    font-weight: bold;
    background-color: #464646;
}

.calendar-day-with-events {
    color: white;
    font-weight: bold;
    background-image: url("resource:///org/gnome/shell/theme/calendar-today.svg");
}

.calendar-other-month-day {
    color: rgba(247, 247, 247, 0.15);
    opacity: 0.5;
}

.calendar-week-number {
    font-size: 70%;
    font-weight: 700;
    width: 2.3em;
    height: 1.8em;
    border-radius: 2px;
    padding: 0.5em 0 0;
    margin: 6px;
    background-color: rgba(247, 247, 247, 0.4);
    color: #252525;
}

/* Message list */
.message-list {
    width: 31.5em;
}

.message-list-clear-button.button {
    transition-duration: 200ms;
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
    border-color: #3f3f3f;
    margin: 1.5em 1.5em 0;
}

.message-list-clear-button.button:hover,
.message-list-clear-button.button:focus {
    transition-duration: 200ms;
    background-color: #373737;
}

.message-list-clear-button.button:active {
    transition-duration: 200ms;
    color: #b7b7b7;
}

.message-list-clear-button.button:insensitive {
    transition-duration: 200ms;
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
    border-color: rgba(145, 145, 145, 0.2);
}

.message-list-sections {
    spacing: 1em;
}

.message-list-section,
.message-list-section-list {
    spacing: 0.4em;
}

.message {
    background-color: rgba(29, 29, 29, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-radius: 4px;
}

.message:hover,
.message:focus {
    background-color: #343434;
}

.message:active {
    background-color: rgba(255, 255, 255, 0.25);
}

.message:active .message-title,
.message:active .message-content {
    color: rgba(255, 255, 255, 0.5);
}

.message-icon-bin {
    padding: 0.68em 0.2em 0.68em 0.68em;
}

.message-icon-bin:rtl {
    padding: 0.68em 0.68em 0.68em 0.2em;
}

.message-icon-bin>StIcon {
    color: #919191;
    icon-size: 1.09em;
}

.message-secondary-bin {
    padding: 0 0.82em;
}

.message-secondary-bin>.event-time {
    color: #919191;
    font-size: 0.7em;
    /* HACK: the label should be baseline-aligned with a 1em label,
					   fake this with some bottom padding */
    padding-bottom: 0.13em;
}

.message-secondary-bin>StIcon {
    icon-size: 1.09em;
}

.message-title {
    color: #dedede;
}

.message-content {
    color: #c4c4c4;
    padding: 10px;
}

.message-media-control {
    padding: 12px;
    color: #c4c4c4;
}

.message-media-control:last-child:ltr {
    padding-right: 18px;
}

.message-media-control:last-child:rtl {
    padding-left: 18px;
}

.message-media-control:hover {
    color: #F7F7F7;
}

.message-media-control:insensitive {
    color: #919191;
}

.media-message-cover-icon {
    icon-size: 48px !important;
}

.media-message-cover-icon.fallback {
    color: #3f3f3f;
    background-color: #252525;
    border: 2px solid #252525;
    border-radius: 2px;
    icon-size: 16px;
    padding: 8px;
}

.system-switch-user-submenu-icon.user-icon {
    icon-size: 20px;
    padding: 0 2px;
}

.system-switch-user-submenu-icon.default-icon {
    icon-size: 16px;
    padding: 0 4px;
}

#appMenu {
    spinner-image: url("resource:///org/gnome/shell/theme/process-working.svg");
    spacing: 4px;
}

#appMenu .label-shadow {
    color: transparent;
}

.aggregate-menu {
    min-width: 21em;
}

.aggregate-menu .popup-menu-icon {
    padding: 0 4px;
}

.aggregate-menu .popup-sub-menu .popup-menu-item> :first-child:ltr {
    /* 12px spacing + 2*4px padding */
    padding-left: 20px;
    margin-left: 1.09em;
}

.aggregate-menu .popup-sub-menu .popup-menu-item> :first-child:rtl {
    /* 12px spacing + 2*4px padding */
    padding-right: 20px;
    margin-right: 1.09em;
}

.system-menu-action {
    -st-icon-style: symbolic;
    color: $secondary;
    transition-duration: 200ms;
    border-radius: 4px;
    /* wish we could do 50% */
    padding: 13px;
    border: none;
}

.system-menu-action:hover,
.system-menu-action:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: $contrast;
    border: none;
    padding: 13px;
}

.system-menu-action:active {
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    color: $contrast;
}

.system-menu-action>StIcon {
    icon-size: 16px;
}

.ripple-box {
    width: 52px;
    height: 52px;
    background-image: url("corner-ripple-ltr.svg");
    background-size: contain;
}

.ripple-box:rtl {
    background-image: url("resource:///org/gnome/shell/theme/corner-ripple-rtl.png");
}

.popup-menu-arrow {
    width: 16px;
    height: 16px;
}

.popup-menu-icon {
    icon-size: 1.09em;
}

.window-close {
    transition-duration: 100ms;
    background-image: url("close-window.svg");
    background-size: 32px;
    height: 32px;
    width: 32px;
    -shell-close-overlap: 13px;
}

.window-close:hover {
    background-image: url("close-window-hover.svg");
}

.window-close:active {
    background-image: url("close-window-active.svg");
}