// Copyright 2018 Stephen Tafoya

// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at

//     http://www.apache.org/licenses/LICENSE-2.0

// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

/* Popovers/Menus */
.popup-menu {
    min-width: 15em;
}

.popup-menu .popup-menu-icon {
    color: $secondary;
}

.popup-menu .popup-sub-menu {
    background-color: $contrast;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 1);
    color: $primary;
}

.popup-menu .popup-menu-content {
    padding: 1em 0em;
}

.popup-menu .popup-menu-item {
    spacing: 12px;
    border-top: 1px solid transparent;
}

.popup-menu .popup-menu-item:ltr {
    padding: .4em 1.75em .4em 0em;
}

.popup-menu .popup-menu-item:rtl {
    padding: .4em 0em .4em 1.75em;
}

.popup-menu .popup-menu-item:checked { 
    box-shadow: inset 0 -1px 0px rgba(247, 247, 247, 0.145);
    background-color: transparent;
    border-top-color: transparent;
    font-weight: bold;
}

.popup-menu .popup-menu-item.selected {
    background-color: $contrast-light; 
    color: $secondary;
    border-top-color: none; 
}

.popup-menu .popup-menu-item:active { 
    background-color: $contrast-light;
    color: $contrast;
    box-shadow: none; 
}

.popup-menu .popup-menu-item:insensitive {
    color: rgba(247, 247, 247, 0.5);
}

.popup-menu .popup-inactive-menu-item {
    color: #000;
}

.popup-menu .popup-inactive-menu-item:insensitive {
    color: rgba(247, 247, 247, 0.5);
}

.popup-menu.panel-menu {
    -boxpointer-gap: 4px;
    margin-bottom: 1.75em;
}

.popup-menu-ornament {
    text-align: right;
    width: 1.2em;
}

// NOTE THIS IS THE SHIT FOR TOP RIGHT MENU
.popup-menu-boxpointer,
.candidate-popup-boxpointer {
    -arrow-border-radius: 0px;
    -arrow-background-color: transparent;
    -arrow-border-width: 0px;
    -arrow-border-color: transparent;
    -arrow-base: 0px;
    -arrow-rise: 0px;
    -arrow-box-shadow: 0 10px 10px black;
    margin: 5px 8px 8px;
    background-color: $primary;
    border-radius: $corner;
    box-shadow: 0 5px 15px black;
}

.popup-separator-menu-item {
    height: 1px;
    margin: 6px 64px;
    background-color: transparent;
    border-color: rgba(247, 247, 247, 0);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.background-menu {
    -boxpointer-gap: 4px;
    -arrow-rise: 0px;
}

/* fallback menu
  - odd thing for styling App menu when apparently not running under shell. Light Adwaita styled
	app menu inside the main app window itself rather than the top bar
  */
/* OSD */
.osd-window {
    text-align: center;
    font-weight: bold;
    spacing: 1em;
    margin: 32px;
    min-width: 64px;
    min-height: 64px;
    /* START: VERSION SPECIFIC CODE (< 3.29.90) */
    /* END: VERSION SPECIFIC CODE (< 3.29.90) */
}

.osd-window StIcon {
    color: $contrast;
}

.osd-window .osd-monitor-label {
    font-size: 3em;
}

.osd-window .level {
    height: 0.3em;
    border-radius: 0.3em;
    -barlevel-height: 0.3em;
    -barlevel-background-color: $secondary;
    -barlevel-active-background-color: $contrast;
    -barlevel-overdrive-color: #d81329;
    -barlevel-overdrive-separator-width: 0.2em;
    /* START: VERSION SPECIFIC CODE (< 3.29.90) */
    /* However, if we enable them, we break the theming for new versions,
		 so, it's probably better not to show a background at all than breaking
		 upstream version.  */
    /* END: VERSION SPECIFIC CODE (< 3.29.90) */
}

.osd-window .level-bar {
    background-color: #19B6EE;
    border-radius: 0.3em;
}

/* Pad OSD */
.pad-osd-window {
    padding: 32px;
    background-color: rgba(0, 0, 0, 1);

}

.pad-osd-window .pad-osd-title-box {
    spacing: 12px;
}

.pad-osd-window .pad-osd-title-menu-box {
    spacing: 6px;
}

.combo-box-label {
    width: 15em;
}

/* App Switcher */
.switcher-popup {
    padding: 8px;
    spacing: 16px;
}

.switcher-list {
    border-radius: 12px;
    padding: 12px;
}

.switcher-list-item-container {
    spacing: 8px;
}

.switcher-list .item-box {
    padding: 8px;
    border-radius: 4px;
    color: #ababab;
}

.switcher-list .item-box:outlined {
    padding: 8px;
}

.switcher-list .item-box:selected {
    background-color: rgba(255, 255, 255, 0.25); // MARK
    border-radius: 6px;
    color: #F7F7F7;
}

.switcher-list .thumbnail-box {
    padding: 2px;
    spacing: 4px;
}

.switcher-list .thumbnail {
    width: 256px;
}

.switcher-list .separator {
    width: 1px;
    background: #cccccc;
}

.switcher-arrow {
    border-color: rgba(0, 0, 0, 0);
    color: rgba(61, 61, 61, 0.8);
}

.switcher-arrow:highlighted {
    color: #F7F7F7;
}

.input-source-switcher-symbol {
    font-size: 34pt;
    width: 96px;
    height: 96px;
}

/* Window Cycler */
.cycler-highlight {
    border: 5px solid #E95420;
}

/* Workspace Switcher */
.workspace-switcher-group {
    padding: 12px;
}

.workspace-switcher-container {
    padding: 5px;
    border-radius: $corner;
}

.workspace-switcher {
    background: transparent;
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    spacing: 8px;
}

.ws-switcher-active-up,
.ws-switcher-active-down {
    height: 50px;
    background-color: $contrast; // MARK
    color: #ffffff;
    background-size: 32px;
    border-radius: $corner;
}

.ws-switcher-active-up {
    background-image: url("ws-switch-arrow-up.svg");
}

.ws-switcher-active-down {
    background-image: url("ws-switch-arrow-down.svg");
}

.ws-switcher-box {
    height: 50px;
    border: 1px solid rgba(247, 247, 247, 0.1);
    background: $secondary;
    border-radius: $corner;
}

.osd-window,
.resize-popup,
.switcher-list,
.workspace-switcher-container {
    color: #F7F7F7;
    background-color: $primary; // MARK changes lots of color
    border: 0px solid black; // MARK changes lots of color
    border-radius: 2px;
    padding: 12px;
    box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.5);
} 

.modal-dialog,
.prompt-dialog,
.audio-device-selection-dialog,
.access-dialog,
.geolocation-dialog,
.extension-dialog,
.inhibit-shortcuts-dialog,
.nm-dialog {
    color: #3D3D3D;
    background-color: rgba(250, 250, 250, 0.975);
    border: 1px solid #cccccc;
    box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.5);
}

/* Tiled window previews */
.tile-preview {
    background-color: rgba(255, 255, 255, 0.45);
    border: 2px solid rgba(255, 255, 255, 0.25);
}

.tile-preview-left.on-primary {
    border-radius: 0 0 0 0;
}

.tile-preview-right.on-primary {
    border-radius: 0 0 0 0;
}

.tile-preview-left.tile-preview-right.on-primary {
    border-radius: 0 0 0 0;
}