// Copyright 2018 Stephen Tafoya

// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at

//     http://www.apache.org/licenses/LICENSE-2.0

// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

/* WIDGETS */

/* Buttons */

.button {
	border-radius: $corner;
	border-width: 1px;
	border-bottom-style: none;
	min-height: 22px;
	padding: 4px 32px;
	transition-duration: 200ms;
	background-color: #1d1d1d;
	border-color: black;
	color: $primary;
	icon-shadow: none;
	text-shadow: none;
}

.button:focus {
	transition-duration: 200ms;
	box-shadow: inset 0px 0px 0px 1px #E95420;
}

.button:hover {
	transition-duration: 200ms;
	background-color: #373737;
}

.button:insensitive {
	transition-duration: 200ms;
	color: #8e8e8e;
	border-color: black;
	background-color: rgba(52, 52, 52, 0.7);
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

.button:active {
	transition-duration: 200ms;
	box-shadow: inset 0 1px 3px -1px rgba(0, 0, 0, 0.5);
}

.modal-dialog-linked-button,
.notification-banner .notification-button,
.hotplug-notification-item {
	border-right-width: 1px;
	transition-duration: 200ms;
	background-color: #FAFAFA;
	border-color: #ededed;
	color: #3D3D3D;
	icon-shadow: none;
	text-shadow: none;
	padding: 12px;
	border-top: 1px solid #cccccc;
}

.modal-dialog-linked-button:active,
.notification-banner .notification-button:active,
.hotplug-notification-item:active {
	transition-duration: 200ms;
}

.modal-dialog-linked-button:focus,
.notification-banner .notification-button:focus,
.hotplug-notification-item:focus {
	transition-duration: 200ms;
	box-shadow: inset 0px 0px 0px 1px #E95420;
}

.modal-dialog-linked-button:hover,
.notification-banner .notification-button:hover,
.hotplug-notification-item:hover {
	transition-duration: 200ms;
	background-color: white;
}

.modal-dialog-linked-button:focus:hover,
.notification-banner .notification-button:focus:hover,
.hotplug-notification-item:focus:hover {
	transition-duration: 200ms;
	background-color: white;
}

.modal-dialog-linked-button:insensitive,
.notification-banner .notification-button:insensitive,
.hotplug-notification-item:insensitive {
	transition-duration: 200ms;
	color: #8e8e8e;
	border-color: #ededed;
	background-color: rgba(228, 228, 228, 0.7);
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

.modal-dialog-linked-button:hover,
.modal-dialog-linked-button:focus:hover,
.notification-banner .notification-button:hover,
.hotplug-notification-item:hover,
.notification-banner .notification-button:focus:hover,
.hotplug-notification-item:focus:hover {
	background-color: rgba(61, 61, 61, 0.15);
}

.modal-dialog-linked-button:active,
.modal-dialog-linked-button:focus:active,
.notification-banner .notification-button:active,
.hotplug-notification-item:active,
.notification-banner .notification-button:focus:active,
.hotplug-notification-item:focus:active {
	background-color: rgba(61, 61, 61, 0.2);
}

.modal-dialog-linked-button:first-child,
.notification-banner .notification-button:first-child,
.hotplug-notification-item:first-child {
	border-radius: 0px 0px 0px 6px;
}

.modal-dialog-linked-button:last-child,
.notification-banner .notification-button:last-child,
.hotplug-notification-item:last-child {
	border-right-width: 0px;
	border-radius: 0px 0px 6px 0px;
}

.modal-dialog-linked-button:first-child:last-child,
.notification-banner .notification-button:first-child:last-child,
.hotplug-notification-item:first-child:last-child {
	border-right-width: 0px;
	border-radius: 0px 0px 6px 6px;
}

/* Entries */
StEntry {
	border-radius: 4px;
	border-width: 1px;
	min-height: 22px;
	padding: 4px;
	color: #F7F7F7;
	background-color: #181818;
	border-color: #060606;
	box-shadow: none;
	selection-background-color: #E95420;
	selected-color: #ffffff;
}

StEntry:focus {
	color: #F7F7F7;
	border-color: #E95420;
	box-shadow: none;
}

StEntry:insensitive {
	color: #8e8e8e;
	background-color: rgba(48, 48, 48, 0.7);
	border-color: #202020;
	box-shadow: none;
}

StEntry StIcon.capslock-warning {
	icon-size: 16px;
	warning-color: #F89B0F;
	padding: 0 4px;
}

/* Scrollbars */
StScrollView.vfade {
	-st-vfade-offset: 68px;
}

StScrollView.hfade {
	-st-hfade-offset: 68px;
}

StScrollBar {
	padding: 0;
}

StScrollView StScrollBar {
	min-width: 14px;
	min-height: 14px;
}

StScrollBar StBin#trough {
	border-radius: 0;
	background-color: transparent;
}

StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle {
	border-radius: 8px;
	background-color: #a3a3a3;
	margin: 3px;
}

StScrollBar StButton#vhandle:hover,
StScrollBar StButton#hhandle:hover {
	background-color: #cdcdcd;
}

StScrollBar StButton#vhandle:active,
StScrollBar StButton#hhandle:active {
	background-color: #E95420;
}

/* Slider */
.slider {
	height: 1em;
	-barlevel-height: 0.2em;
	-barlevel-background-color: $secondary;
	-barlevel-border-color: #060606;
	-barlevel-active-background-color: $contrast;
	-barlevel-active-border-color: $contrast;
	-barlevel-overdrive-color: #d81329;
	-barlevel-overdrive-border-color: #a90f20;
	-barlevel-overdrive-separator-width: 0.2em;
	-barlevel-border-width: 0px;
	-slider-handle-radius: 8px;
	color: $contrast;
	/* START: VERSION SPECIFIC CODE (< 3.29.90) */
	-slider-height: 0.2em;
	-slider-background-color: #7a7a7a;
	-slider-border-color: #060606;
	-slider-active-background-color: #19B6EE;
	-slider-active-border-color: #19B6EE;
	-slider-border-width: 0px;
	/* END: VERSION SPECIFIC CODE (< 3.29.90) */
}

/* Check Boxes */
.check-box StBoxLayout {
	spacing: .8em;
}

.check-box StBin {
	width: 24px;
	height: 22px;
	background-image: url("checkbox-off.svg");
}

.check-box:focus StBin {
	background-image: url("checkbox-off-focused.svg");
}

.check-box:checked StBin {
	background-image: url("checkbox.svg");
}

.check-box:focus:checked StBin {
	background-image: url("checkbox-focused.svg");
}

/* Switches */
.toggle-switch {
	width: 65px;
	height: 22px;
	background-size: contain;
}

.toggle-switch-us {
	background-image: url("toggle-off.svg");
}

.toggle-switch-us:checked {
	background-image: url("toggle-on.svg");
}

.toggle-switch-intl {
	background-image: url("toggle-off.svg");
}

.toggle-switch-intl:checked {
	background-image: url("toggle-on.svg");
}

/* links */
.shell-link {
	color: #19B6EE;
}

.shell-link:hover {
	color: #48c5f2;
}