// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant


$base_color:                #ffffff;
$bg_color:                  #ffffff;
$fg_color:                  #2e3436;

$selected_fg_color:         #ffffff;
$selected_bg_color:         rgb(230, 88, 69);
$selected_borders_color:    darken($selected_bg_color, 30%);
$borders_color:             darken($bg_color,30%);
$borders_edge:              white;
$link_color:                darken($selected_bg_color,10%);
$link_visited_color:        darken($selected_bg_color,20%);
$top_hilight:               $borders_edge;

$warning_color:             #f57900;
$error_color:               #cc0000;
$success_color:             #73d216;
$destructive_color:         #ef2929;

$osd_fg_color:              #eeeeec;
$osd_bg_color:              #2e3436;
$osd_borders_color:         transparentize(black, 0.3);
$osd_outer_borders_color:   transparentize(white, 0.9);

$tooltip_borders_color:     $osd_outer_borders_color;

//insensitive state derived colors
$insensitive_fg_color:      mix($fg_color, $bg_color, 50%);
$insensitive_bg_color:      mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color:       darken($base_color,1%);
$backdrop_bg_color:         $bg_color;
$backdrop_fg_color:         mix($fg_color, $backdrop_bg_color, 80%);
$backdrop_insensitive_color: darken($backdrop_bg_color,15%);
$backdrop_borders_color:    mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill:        mix($backdrop_borders_color,$backdrop_bg_color, 35%);
